In [7]:
from os import path


import logging

import pandas as pd

In [8]:
import sys
sys.path.append("../") # go to parent dir

In [9]:
from dependencynet.datasets_utils import extract_hierarchy, write_dataset
from dependencynet.trees_utils import build_tree, pretty_print_tree

In [10]:
logging.basicConfig()
logger = logging.getLogger('dependencynet')
logger.setLevel(logging.INFO)

In [13]:
filename = path.join('..', 'tests', 'resources', 'data', 'compact', 'towns.csv')
data = pd.read_csv(filename, delimiter=';')

keys = ['area', 'country', 'town']
df = pd.DataFrame(data, columns=keys)

display(df)

     area country    town
0  Europe  France   Paris
1  Europe  France    Lyon
2  Europe      UK  London
3  Europe  Italia    Roma
4    Asia   Japan   Tokyo

In [14]:
marks = "ACT"
dfs = extract_hierarchy(df, keys, marks)

if logger.level <= logging.INFO:
    logger.info('main resultats')
    display(dfs[0])
    display(dfs[1])
    display(dfs[2])

INFO:dependencynet.datasets_utils:extract_items_root keys=['area'] id_pattern=A{id:02d} => shape=(2, 4)
INFO:dependencynet.datasets_utils:extract_items_root keys=['area', 'country'] id_pattern={id_parent}C{id:02d} => shape=(4, 6)
INFO:dependencynet.datasets_utils:extract_items_root keys=['area', 'country', 'town'] id_pattern={id_parent}T{id:02d} => shape=(5, 7)
INFO:dependencynet:main resultats

     area  pos   id       label
0  Europe    1  A01  A01 Europe
4    Asia    2  A02    A02 Asia

     area country  pos id_parent      id          label
0  Europe  France    1       A01  A01C01  A01C01 France
1  Europe      UK    2       A01  A01C02      A01C02 UK
2  Europe  Italia    3       A01  A01C03  A01C03 Italia
3    Asia   Japan    1       A02  A02C01   A02C01 Japan

     area country    town  pos id_parent         id             label
0  Europe  France   Paris    1    A01C01  A01C01T01   A01C01T01 Paris
1  Europe  France    Lyon    2    A01C01  A01C01T02    A01C01T02 Lyon
2  Europe      UK  London    1    A01C02  A01C02T01  A01C02T01 London
3  Europe  Italia    Roma    1    A01C03  A01C03T01    A01C03T01 Roma
4    Asia   Japan   Tokyo    1    A02C01  A02C01T01   A02C01T01 Tokyo

In [15]:
folder_name = os.path.join('output', 'datasets')

[ write_dataset(dfs[i], folder_name, keys[i], sep=";") for i in range(len(keys)) ];

INFO:dependencynet.datasets_utils:dateset saved under name output/datasets/area.csv
INFO:dependencynet.datasets_utils:dateset saved under name output/datasets/country.csv
INFO:dependencynet.datasets_utils:dateset saved under name output/datasets/town.csv

In [16]:
tree = build_tree(dfs, keys)
display(tree)

defaultdict(dict,
            {'area_dict': {'A01': {'area': 'Europe',
               'pos': 1,
               'id': 'A01',
               'label': 'A01 Europe',
               'country_dict': {'A01C01': {'area': 'Europe',
                 'country': 'France',
                 'pos': 1,
                 'id_parent': 'A01',
                 'id': 'A01C01',
                 'label': 'A01C01 France',
                 'town_dict': {'A01C01T01': {'area': 'Europe',
                   'country': 'France',
                   'town': 'Paris',
                   'pos': 1,
                   'id_parent': 'A01C01',
                   'id': 'A01C01T01',
                   'label': 'A01C01T01 Paris'},
                  'A01C01T02': {'area': 'Europe',
                   'country': 'France',
                   'town': 'Lyon',
                   'pos': 2,
                   'id_parent': 'A01C01',
                   'id': 'A01C01T02',
                   'label': 'A01C01T02 Lyon'}}},
                'A01C02': {'area': 'Europe',
                 'country': 'UK',
                 'pos': 2,
                 'id_parent': 'A01',
                 'id': 'A01C02',
                 'label': 'A01C02 UK',
                 'town_dict': {'A01C02T01': {'area': 'Europe',
                   'country': 'UK',
                   'town': 'London',
                   'pos': 1,
                   'id_parent': 'A01C02',
                   'id': 'A01C02T01',
                   'label': 'A01C02T01 London'}}},
                'A01C03': {'area': 'Europe',
                 'country': 'Italia',
                 'pos': 3,
                 'id_parent': 'A01',
                 'id': 'A01C03',
                 'label': 'A01C03 Italia',
                 'town_dict': {'A01C03T01': {'area': 'Europe',
                   'country': 'Italia',
                   'town': 'Roma',
                   'pos': 1,
                   'id_parent': 'A01C03',
                   'id': 'A01C03T01',
                   'label': 'A01C03T01 Roma'}}}}},
              'A02': {'area': 'Asia',
               'pos': 2,
               'id': 'A02',
               'label': 'A02 Asia',
               'country_dict': {'A02C01': {'area': 'Asia',
                 'country': 'Japan',
                 'pos': 1,
                 'id_parent': 'A02',
                 'id': 'A02C01',
                 'label': 'A02C01 Japan',
                 'town_dict': {'A02C01T01': {'area': 'Asia',
                   'country': 'Japan',
                   'town': 'Tokyo',
                   'pos': 1,
                   'id_parent': 'A02C01',
                   'id': 'A02C01T01',
                   'label': 'A02C01T01 Tokyo'}}}}}}})

In [17]:
pretty_print_tree(tree, keys)

['there are 2 area(s)',
 '  A01, A02',
 '  area A01: Europe',
 '    has 3 country(s)',
 '      A01C01, A01C02, A01C03',
 '      country A01C01: France',
 '        has 2 town(s)',
 '          A01C01T01, A01C01T02',
 '          town A01C01T01: Paris',
 '          town A01C01T02: Lyon',
 '      country A01C02: UK',
 '        has 1 town(s)',
 '          A01C02T01',
 '          town A01C02T01: London',
 '      country A01C03: Italia',
 '        has 1 town(s)',
 '          A01C03T01',
 '          town A01C03T01: Roma',
 '  area A02: Asia',
 '    has 1 country(s)',
 '      A02C01',
 '      country A02C01: Japan',
 '        has 1 town(s)',
 '          A02C01T01',
 '          town A02C01T01: Tokyo']